<meta charset="UTF-8">
{% extends 'datepick/base.html' %}

{% block content %}
   <div class="apply">
   <a href="{% url 'confirm' %}" class="save btn-btn primary">메일 보내기</a>
   <a href="{% url 'confirm' %}" class="save btn-btn primary">캘린더로 보</a>
   </div>
{% for a in members %}
 <p> {{ a.username}}</p> <br>

   {% endfor %}


       <h3>일반 휴가 내역</h3>

         <div class ="table">

<table>
          <tr>
          <th>
              신청자
          </th>
          <th>휴가일수</th>
          <th>휴가일</th>
              <th>신청일</th>
          <th>수정</th>
          <th>삭제 </th></tr>

   {% for post in forms.reverse%}
         <tr>

    {% if post.status != 4 and post.status != 5 %}

             <td>{{  post.author}}</td>


        {% if post.status == 1 %}
        <td>풀타임</td>
            <td> {{ post.start }}</td>
            {% elif post.status == 2 %}

            <td>오전 반차</td>
             <td> {{ post.start }}</td>
            {% elif post.status == 3 %}
            <td>오후 반차</td>
             <td> {{ post.start }}</td>
            {% else %}
             <td>{{ post.bus_day_count }}</td>


          <td>{{ post.start }} ~ {{ post.end }} </td>
{% endif %}

            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>

<td> <a class="btn btn-default" href="{% url 'post_edit_entry' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>
         {% endif %}
         </tr>


{% endfor %}
</table>
         </div>
<div class="table">
        <h3>대체 근무 내역</h3>



<table>
          <tr>
          <th>
              신청자
          </th>
              <th>근무일수</th>
          <th>근무날</th>
              <th>신청일</th>
          <th>수정</th>
          <th>삭제 </th>
              <th>승인상태</th>
          </tr>
  {% for post in forms.reverse%}
         <tr>

 {% if post.status == 5  %}
             <td>{{  post.author}}</td>

              <td>{{ post.bus_day_count }}</td>

          <td>{{ post.start }} ~{{ post.end }} </td>

            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>

<td> <a class="btn btn-default" href="{% url 'post_edit_entry' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>

{% if post.regi_status == 0 %}
        <td>  미완료 <a class="btn btn-default" href="{% url 'approve' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a> </td>
{% else %}
    <td> 승인완료 <a class="btn btn-default" href="{% url 'approve' pk=post.pk %}"><span class="glyphicon glyphicon-ok"></span></a></td>
    {% endif %}
         {% endif %}
         </tr> {% endfor %}</table></div>
<div class="table">
        <h3>특별 휴가 내역</h3>



<table>
          <tr>
          <th>
              신청자
          </th>
          <th>신청사유</th>
              <th>휴가일수</th>
          <th>근무날</th>
              <th>신청일</th>
          <th>수정</th>
          <th>삭제 </th>
              <th>승인 상</th>
          </tr>
  {% for post in forms.reverse%}
         <tr>

      <tr>
      {%  if post.status == 4 %}
       <td>{{  post.author}}</td>

              <td>{{ post.reason }}</td>
          <td>{{ post.bus_day_count }}</td>

          <td>{{ post.start }} ~{{ post.end }} </td>

            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>

<td> <a class="btn btn-default" href="{% url 'post_edit_entry' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>


{% if post.regi_status == 0 %}
        <td>  미완료 <a class="btn btn-default" href="{% url 'approve' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a> </td>
{% else %}
    <td> 승인완료 <a class="btn btn-default" href="{% url 'approve' pk=post.pk %}"><span class="glyphicon glyphicon-ok"></span></a></td>
    {% endif %}


         {% endif %}

      </tr>
    {% endfor %}
</table>


    </div>



{% endblock %}