<meta charset="UTF-8">
{% extends 'datepick/base.html' %}

{% block content %}
   <div class="apply">
   <a href="confirm.html" class="save btn-btn primary">메일 보내기</a>
   <a href="confirm.html" class="save btn-btn primary">캘린더로 보</a>
   </div>


       <h3>일반 휴가 내역</h3>

         <div class ="table">

<table>
          <tr>
          <th>
              신청자
          </th>
          <th>신청날짜</th>
          <th>사용날짜</th>
              <th>신청날짜</th>
          <th>수정</th>
          <th>삭제 </th></tr>
   {% for post in forms.reverse%}
         <tr>

    {% if post.status == 0 and post.replace_status == 0 %}

             <td>{{  post.author}}</td>
        <td>{{ post.bus_day_count }}</td>
          <td>{{ post.start }} ~ {{ post.end }} </td>


            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>

<td> <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>
         {% endif %}
         </tr>


         <tr>
           {% if post.status != 0 %}

             <td>{{  post.author}}</td>
        {% if post.status == 1 %}
        <td>오전 반차</td>
            {% else %}

            <td>오후 반차</td>
           {% endif %}
          <td>{{ post.start }} </td>


            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>
<td> <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>
                 {% endif %}

         </tr>




{% endfor %}
</table>
         </div>
<div class="table">
        <h3>대체 휴가 내역</h3>



<table>
          <tr>
          <th>
              신청자
          </th>
          <th>신청날짜</th>
          <th>사용날짜</th>
              <th>신청날짜</th>
          <th>수정</th>
          <th>삭제 </th>
          </tr>
  {% for post in forms.reverse%}
         <tr>
    {% if post.replace_status != 0 %}

             <td>{{  post.author}}</td>


        {% if post.replace_status == 1 %}
        <td>{{ post.replace_day }}</td>
            {% else %}

            <td>매직 {{ post.replace_day }}</td>
           {% endif %}
          <td>{{ post.start }} ~{{ post.end }} </td>

            <td>{{ post.created_time.year }}.{{ post.created_time.month }}.{{ post.created_time.day|linebreaksbr }} </td>

<td> <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
         class="glyphicon glyphicon-pencil"></span></a></td>
    <td>   <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
 </td>
         {% endif %}
         </tr>
    {% endfor %}
</table>


    </div>
{% endblock %}