
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% extends 'datepick/base.html' %}
{%  load static %}


{% load chartit %}

{% block content %}
<link rel = "stylesheet" href ="{%  static 'css/static.css' %}">

 {% block title %}
{{ user.username }}'s 올해 사용 그래프
{% endblock %}
{% block javascript %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    {% endblock %}
    <div class="chart">
        <div class="row">
            <div id="vacationchart">{{ vacation|load_charts:"vacationchart" }}</div>
        </div>
    </div>

<dl class="statistics">

    <dt>당신의 입사일</dt>
        <dd> {{  latestjobstart.jobstart }}</dd>

        <dt>당신이 작년까지 썼던 연차</dt>
        <dd>{{ lastyear_available}}일</dd>
           <dt>당신의 올해 남은 연차</dt>
     <dd>  기본{{ thisyear_origin_left }}+{{ replace_workday }} ={{ thisyear_left }}일</dd>
        <h3>당신의 휴가 사용량</h3>
    <p> 당신은 올해 {{ thisyear_used }}일 썼어요</p>
    <p> 대체 휴가로 얻은 {{ replace_workday }}일도 있어요.</p>
    <p> 연차 외 특별휴가로 쓴 {{ special_day }}일도 있네요</p>

<h3>{{ user.username }}이 스푼과 함께한 {{ workingdays_with }} 날은 어떠셨나요?</h3>
</dl>
    <body>
 {{ vacations|safe }}
    </body>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>


{% endblock %}







