
<meta charset="UTF-8">


{% extends 'datepick/base.html' %}
{%  load static %}




{% block content %}
<link rel = "stylesheet" href ="{%  static 'css/static.css' %}">



<dl class="statistics">

    <dt>당신의 입사일</dt>
        <dd> {{  latest.jobstart }}</dd>

        <dt>당신이 작년까지 썼던 연차</dt>
        <dd>{{ p }}일</dd>
           <dt>당신의 올해 남은 연차</dt>
     <dd>  {{  used }}일</dd>
        <h3>당신의 휴가 사용량</h3>
    <p> 당신은 올해 {{ dur }}일 썼어요</p>
    <p> 대체 휴가로 얻은 {{ replace }}일도 있어요.</p>
    <p> 연차 외 특별휴가로 쓴 {{ special }}일도 있네요</p>

<h3>{{ user.username }}이 스푼과 함께한 {{ keep }} 날은 어떠셨나요?</h3>
</dl>


{% endblock %}







