<meta charset="UTF-8">
{% extends 'datepick/main.html' %}
{% block content %}


    <h3>
        <p> 휴가 시작하는 날과 끝나는 날을 입력해주세요 </p> </h3>
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'

        });
    });
</script>


    <form action=""method="POST" class="promise-form">{% csrf_token %}
        <table border="1">
        {{ form.as_table }}
        </table>


         <script type='text/javascript'>

function foo() {


    var user_choice = window.confirm('휴가 신청하시겠습니까?');


if(user_choice==true) {

window.location='/list/';

  // you can also use element.submit() if your input type='submit'


}else{
return false;}
}


</script>

        <input type="submit" class="save btn-btn primary" onClick="return foo()" >

    </form>

{% endblock %}