<meta charset="UTF-8">
{% extends 'datepick/main.html' %}
{% block content %}
    <div class='form'>

        <h3> 대체근무를 하면 휴가를 얻을 수 있어요. 0.5단위 입력가능! </h3>
        <p>근무기간과 휴가인정날짜 입력!</p>

    </div>
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'

        });
    });
</script>


    <form action=""method="POST" class="replace-form">{% csrf_token %}
        <table border="1">
        {{ form.as_table}}
        </table>

 <script type='text/javascript'>

function foo() {


    var user_choice = window.confirm('대체 휴가 입력하시겠습니까?');


if(user_choice==true) {

window.location='/list/';

  // you can also use element.submit() if your input type='submit'


}else{
return false;}
}


</script>

        <input type="submit" class="save btn-btn primary" onClick="return foo()" >

    </form>
{% endblock %}
