<meta charset="UTF-8">
{% extends 'datepick/base.html' %}
{% block content %}
    <div class='form'>

    <h1>날짜만 입력!    {{ form.count }}일 사용했어요</h1>
        <p> 올해 {{ d }}일 사용할 수 있어요 </p>
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'

        });
    });
</script>

    </div>
    <form action=""method="POST" class="promise-form">{% csrf_token %}
        <table border="1">
        {{ form.as_table }}
        </table>


        <script type='text/javascript'>



function foo() {


    var user_choice = window.confirm('0.5일 반차 신청하시겠습니까?');


if(user_choice==true) {

window.location='/list/';

  // you can also use element.submit() if your input type='submit'


}else{
return false;}
}


</script>

        <input type="submit" class="save btn-btn primary" onClick="return foo()" >

    </form>
{% endblock %}