<meta charset="UTF-8">
{% extends 'datepick/base.html' %}
{% block content %}
    <div class='form'>

    <h3>
        대체근무할 기간과 휴가로 얻을 일을 입력!</h3>

    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'

        });
    });
</script>

    </div>
    <form action=""method="POST" class="replace-form">{% csrf_token %}
        <table border="1">
        {{ form.as_table}}
        </table>


 <button type="submit" class="save btn-btn primary" onClick="foo()" value="save">Save</button>
<script type='text/javascript'>



function foo() {

var user_choice = window.confirm('휴가신청 하시겠습니까?');


if(user_choice==true) {

window.location='/list/'
element.submit();  // you can also use element.submit() if your input type='submit'


} else {


return false;


}
}

</script>
    </form>
{% endblock %}
